<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>F1 LVTL</title>
  <link rel="stylesheet" href="/static/css/telemetry.css" />
  <link rel="icon" type="image/png" href="static/images/favicon.png">
  <!-- Plotly -->
  <script src="https://cdn.plot.ly/plotly-2.27.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="/static/js/analysis.js" defer></script>
</head>

<body>
  <div class="container">
    <div class="sidebar">
      <h2>F1 LVTL</h2>
      <a href="/">🏁 Index</a>
      <a href="/live_telemetry">🏎 Live Telemetry</a>
      <a href="/replay">⏪ Replay</a>
    </div>

    <div class="header">
      <div id="sessionInfo">Seleciona um GP para iniciar análise...</div>
    </div>

    <main style="padding: 20px;">
      <h1>F1 Dashboard</h1>

      <div class="controls">
        <label for="yearSelect">Ano:</label>
        <select id="yearSelect">
          <option>2024</option>
          <option>2023</option>
          <option>2022</option>
          <option>2021</option>
          <option>2020</option>
          <option>2019</option>
          <option>2018</option>
          <option>2017</option>
          <option>2016</option>
          <option>2015</option>
          <option>2014</option>
          <option>2013</option>
        </select>

        <label for="roundSelect">Round:</label>
        <select id="roundSelect"></select>

        <label for="sessionSelect">Sessão:</label>
        <select id="sessionSelect">
          <option value="FP1">FP1</option>
          <option value="FP2">FP2</option>
          <option value="FP3">FP3</option>
          <option value="Q">Qualifying</option>
          <option value="R">Race</option>
        </select>

        <button id="loadSessionBtn">Carregar Info Sessão</button>
      </div>

      <div class="drivers-section">
        <h3>Pilotos:</h3>
        <table id="driversTable">
          <thead>
            <tr>
              <th>Número</th>
              <th>Nome</th>
              <th>Equipe</th>
              <th>Posição</th>
              <th>Status</th>
              <th>Tempo</th>
            </tr>
          </thead>
          <tbody id="driversTableBody"></tbody>
        </table>
      </div>

      <div class="telemetry-controls">
        <label for="driverSelect">Escolha um piloto para telemetria:</label>
        <select id="driverSelect">
          <option value="">-- Nenhum --</option>
        </select>
        <button id="loadTelemetryBtn">Carregar Telemetria</button>
      </div>

      <div class="lap-controls">
        <label for="lapSelect">Selecionar volta:</label>
        <select id="lapSelect">
          <option value="">-- Escolha uma volta --</option>
        </select>
        <button id="showLapBtn">Mostrar Volta</button>
      </div>

      <div style="margin-top: 40px;">
        <h3>Gráficos de Telemetria</h3>
        <div style="display: flex; gap: 20px; justify-content: center;">
          <div id="speedChart" style="width: 50%; height: 400px;"></div>

          <div id="rpmGearChart" style="width: 50%; height: 400px;"></div>
          <div id="drsChart" style="width: 50%; height: 400px;"></div>

          <div id="speedHistogram" style="width: 50%; height: 400px;"></div>
        </div>
        <div style="display: flex; gap: 20px; justify-content: center;">
          <div id="throttleBrakeChart" style="width: 50%; height: 400px;"></div>
          <div id="trackMapChart" style="width: 50%; height: 400px;"></div>
        </div>
        <h3 style="padding-top: 40px;">Race Specific Telemetry</h3>
        <div style="display: flex; gap: 20px; justify-content: center;">
          <div id="lapConsistencyChart" style="width: 50%; height: 400px;"></div>
          <div id="tyreStintsChart" style="width: 50%; height: 400px;"></div>
        </div>
      </div>

      <div id="dashboard" style="margin-top: 20px;">
        <h3>Resumo da Volta</h3>
        <p id="lapSummary">Nenhuma volta selecionada.</p>
      </div>

    </main>
  </div>
</body>

</html>