<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>F1 Cloud Dashboard</title>
  <link rel="stylesheet" href="/static/css/telemetry.css" />

</head>
<body>

    <body>
        <div class="index-grid">
          <a href="/analysis" class="index-box">
            <img src="/static/images/analysis.jpg" class="bg-img" alt="Analysis" />
            <div class="content">
              <h2>Analysis</h2>
            </div>
          </a>

          <a href="/live_telemetry" class="index-box">
            <img src="/static/images/live.jpg" class="bg-img" alt="Telemetry" />
            <div class="content">
              <h2>Live Telemetry</h2>
            </div>
          </a>

          <a href="/replay" class="index-box">
            <img src="/static/images/replay.jpg" class="bg-img" alt="Replay" />
            <div class="content">
              <h2>Replay</h2>
            </div>
          </a>
        </div>
      </body>


</body>
</html>